#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.responsive{
    width: 100%;
    height: auto;
}

#welcome{
    background-image: url(/img/background-1920x1080.jpg);
    background-size: 100% auto;
    background-repeat: inherit;
    max-height: 1000px;
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    padding-top:20px;
    background-color: #FDD017;
}


