html, body {
    height: 100%;
    background-color: whitesmoke;

   /* width: 100%; height: 100%; top: 0; left: 0;
    background: url(https://besthqwallpapers.com/Uploads/16-4-2018/48522/thumb2-travel-concepts-wooden-plane-seashells-summer-travel-blue-boards.jpg) no-repeat center top; position: fixed; z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.responsive{
    width: 100%;
    height: auto;
}

#welcome{
    background-image: url(/img/background-1920x1080.jpg);
    background-size: 100% auto;
    background-repeat: inherit;
    max-height: 1250px;
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

 /* FOOTER */

.footer {
    position: relative;
    top: 140px;
    margin: 0 auto -50px;
    height: auto;
    clear:both;
    background-color: #FDD017
}

#divTextFooter{
    position: relative;
    margin-bottom: 10px;
    bottom: 10px;
    color: dimgray;
}

 /* NAVBAR */

.navbar{
    background-color: #FDD017;
}
