* {box-sizing: border-box}

/* Set a style for all buttons */
button {
  background-color: transparent;
  color: white;

  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.signupbtn{
    background-color: green;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
background-color: rgba(62, 66, 62, 0.9) ;

  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 10px solid #888;
  padding: 100px;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.animate-left{
  position:relative;
  animation:animateleft 1s
}
@-webkit-keyframes animateleft{
  from{
    left:-300px;
    opacity:0}
  to{
    left:0;opacity:1
  }
  }
.animate-right{
  position:relative;
  animation:animateright 1s
}

@-webkit-keyframes animateright{
  from{
    right:-300px;
    opacity:0
  }
  to{
    right:0;
    opacity:1
    }
  }

    @-o-keyframes animateleft{
      from{
        left:-300px;
        opacity:0}
      to{
        left:0;opacity:1
      }
      }
    .animate-right{
      position:relative;
      animation:animateright 1s
    }

    @-o-keyframes animateright{
        from{
          right:-300px;
          opacity:0
        }
           to{
             right:0;
             opacity:1
            }
        }

        @-moz-keyframes animateleft{
          from{
            left:-300px;
            opacity:0}
          to{
            left:0;opacity:1
          }
          }
        .animate-right{
          position:relative;
          animation:animateright 1s
        }

        @-moz-keyframes animateright{
            from{
              right:-300px;
              opacity:0
            }
               to{
                 right:0;
                 opacity:1
                }
            }


